body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: white;
    margin: 0;
    padding: 0;
}

.side-panel {
    width: 250px;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-left: 79%;
    margin-top: 1%;
    margin-right: 1%;
}

.section {
    margin-top: 20px;
}

.section h2 {
    font-size: 18px;
    margin-bottom: 10px;
    border-bottom: 1px solid #555;
    padding-bottom: 5px;
}

.images-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.videos-container {
    /* display: flex; */
    flex-wrap: wrap;
}

.image-item {
    width: 45%;
    cursor: pointer;
    border-radius: 10px;
    /* align-items: center; */
}

.video-item {
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: -10px;
}

.image-item img {
    width: 100%;
    border-radius: 5px;
    margin-right:auto;
}

.video-item img {
    width: 50%;
    border-radius: 15px;
}

.video-info {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10px;
    margin-bottom: 10px;
}

.video-title {
    font-size: 16px;
    margin-top: 10px;
}

.video-publisher, .video-views {
    font-size: 11px;
    color: #aaa;
    font-weight: lighter;
    line-height: 80%;
}

.view-more-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #444;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    text-align: center;
}

.view-more-btn:hover {
    background-color: #555;
}
