.web-section {
    width: 60%;
    display: flex;
    margin-right: 40%;
    margin-left: 10%;
}

.box {
    width: 250px;
    background-color: #333;
    color: white;
    text-align: left;
    margin: 5px;
    padding-left: 10px;
    padding-top: 1px;
    box-sizing:content-box;
    margin-top: 10%;

    border-radius: 10px; /* Adjust the value to control the roundness */
    /* position: relative; */
}

.date {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: light;
    font-size: 11px; /* Set font size */
    color: #ffffff;
}

.title {
    /* ... other properties ... */
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Set font size */
    margin-top: 3%;
}

.publisher {
    /* ... other properties ... */
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: light;
    font-size: 11px; /* Set font size */
    margin-top: auto;
    margin-bottom: 3%;
}