<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video to Text</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Text Summarizer</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('generic') }}">Generic</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('summarize') }}">Summarize</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('videosummarize') }}">VideoSummary</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('imageindex') }}">Summarize & Images</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('pros_cons') }}">Pros and Cons</a></li>

                        <li class="nav-item"><a class="nav-link" href="{{ url_for('qa') }}">Q&A</a></li>

                        <li class="nav-item"><a class="nav-link" href="{{ url_for('tech_details') }}">Tech Details</a></li> <!-- Added Pros and Cons tab -->
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('recap') }}">Recap</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('opinions_arguments') }}">Opinions</a></li>
                        
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('define_index') }}">Define</a></li>

                        <li class="nav-item"><a class="nav-link" href="{{ url_for('compare_index') }}">Compare</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('detail_index')}}">Specific Details</a></li>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        {% block content %}{% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
