<!-- pros_cons_index.html -->

{% extends "base.html" %}

{% block title %}Pros and Cons - Text Summarizer{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Analyze Pros and Cons</h2>
    <form method="POST" action="{{ url_for('pros_cons') }}">
        <div class="mb-3">
            <label for="topic" class="form-label">Youtube Video Url</label>
            <input type="text" class="form-control" name="youtube-url" required>
        </div>
        <button type="submit" class="btn btn-primary">Analyze</button>
    </form>
</div>
{% endblock %}
